header {
    position: fixed;
    top: 60px;
    display: flex;
    width: 100vw;
    justify-content: center;
    z-index: 900;
}

.main-section {
    scroll-snap-align: start;

}


.site-content {
    display: none;
}

.setinha {
    width: 5vw;
    height: 5vw;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute;
    left: 49vw;
    top: 85vh;
    rotate: 45deg;

}

.presente-link {
    background-color: rgb(118, 75, 22);
    height: 50vh;
    text-align: center;
}

.presente-link .main-subtitle.-title {
    font-size: 9vw;
    font-family: "Cormorant SC", serif;
}

.presente-link .listadepresentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listadepresentes img {
    width: 40vw;

}

/* tooltip */
/* From Uiverse.io by vinodjangid07 */
.faq-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: fixed;
    z-index: 999999999;
    bottom: 10vh;
    right: 7vw;
}

.faq-button img {
    height: 4.5em;
    fill: white;
}

.faq-button:hover img {
    animation: jello-vertical 0.7s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.tooltip {
    position: absolute;
    top: -20px;
    right: -25px;
    opacity: 0;
    background-color: #69a7ff;
    background-image: linear-gradient(147deg, #3897f0 0%, #3897f0 74%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(56, 151, 240);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -15%;
    transition-duration: 0.3s;
}

.faq-button:hover .tooltip {
    top: -40px;
    opacity: 1;
    transition-duration: 0.3s;
}