header {
    position: fixed;
    top: 60px;
    display: flex;
    width: 100vw;
    justify-content: center;
    z-index: 900;
}

.main-section {
    scroll-snap-align: start;
    
}


.site-content {
    display: none;   
}

.setinha {
    width: 5vw;
    height: 5vw;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute;
    left: 49vw;
    top: 85vh;
    rotate: 45deg;

}

.presente-link {
    background-color: bisque;
    height: 50vh;
    text-align: center;
}

.presente-link .main-subtitle {
    font-size: 15vw;

}

.presente-link img {
    width: 40vw;
}