.confirmation {
  background-color: #c8d9e6;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 93vw;
  max-height: 150vw;
  position: fixed;
  z-index: 999;
  top: 100px;
  display: none;
  overflow-y: auto
}

.active {
    display: block;
}

/*
.active .confirmation {
    animation: modal 4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
*/

.confirmation .btnClose {
    background-color: (0, 0, 0, 0);
    color: rgb(77, 77, 77);
    border: 0;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-right: -70vw;
    font-family: Arial, Helvetica, sans-serif;
    
}

.confirmation .title {
  color: #24405e;
  font-family: "Syne", sans-serif;
  font-size: 10vw;
  font-weight: 600;
  margin-top: 10px;
}

.confirmation .subtitle {
  color: rgb(104, 101, 101);
  font-family: sans-serif;
  font-size: 4vw;
  font-weight: 600;
  margin-top: 20px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 25px;
}

.ic2 {
  margin-top: 10px;
}

.input {
  background-color: #f7f7f7;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 3.5vw;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #2a38d100;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.iLabel {
  color: #65657b;
  font-family: sans-serif;
  font-size: 3.5vw;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .iLabel {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:focus) ~ .iLabel {
  color: #808097;
}

.input:focus {
    background-color: #f7f7f7;
    color: #65657b;
}

.input:focus ~ .iLabel {
  color: #65657b;
}

.input:not(:placeholder-shown) {
    background-color: #f7f7f7;
    color: #65657b;
}

.input:not(:placeholder-shown) ~ .iLabel {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  color: #65657b;
  
}

.confirmation .btnOK {
  background-color: #28ad7c;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 4vw;
  height: 50px;
  margin-top: 2vw;
  text-align: center;
  width: 100%;
}

.confirmation .btnOK.-add {
  margin-top: 4vw;

}

.confirmation .btnOK:active {
  background-color: #06b;
}

.feedback-message::before {
  content: url(../../assets/img/confirm_4682678.png);
}

.feedback-message {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007add;
    color: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 46vw;
    height: 30vw;
}

.feedback-message.hidden {
  display: none;
}

.feedback-message button {
  background-color: #fff;
  color: #08d;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 15px;
}