.-cerimonia {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 100px;
    background-color: #f5efeb;
    z-index: 600;
    position: relative;
    background: linear-gradient(to bottom, #f5efeb00 0%, #f5efebea 27%, #f5efeb 30%);
}

.-cerimonia .main-text {
    width: 50vw;
    height: fit-content;
    text-align: center;
    color: #2e363f;
    padding: 50px;
    border-radius: 10px;
    line-height: 1.5vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.-cerimonia .main-text .-date {
    color: #4d7570;
    font-size: 33vw;
    line-height: 35vw;
    font-family: "Cormorant SC", serif;
}

.main-button.-btn {
    background-color: transparent;
    border: 2px solid #4d7570;
    border-radius: 8px;
    box-sizing: border-box;
    color: #4d7570;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 16px;
}


.main-button.-btn .fancytext {
    font-size: 1.125em;
    line-height: 1.33333em;
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: black;
}

.main-button.-btn .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #f5efeb;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.main-button.-btn .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #f5efeb;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.main-button.-btn .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #f5efeb;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.main-button.-btn:hover {
    color: white;
    background: #31c6f7;
    border-color: #f5efeb;
}

.main-button.-btn:hover::before {
    width: 0.9375rem;
    background: white;
}

.main-button.-btn:hover .text {
    color: rgb(255, 255, 255);
}

.main-button.-btn:hover .top-key {
    left: -2px;
    width: 0px;
}

.main-button.-btn:hover .bottom-key-1,
.main-button.-btn:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.-cerimonia .igrejaimg {
    width: 80vw;
    height: 80vw;
    margin-top: 30px;
    opacity: 70%;
}

.transitionFlowers-left {
    position: absolute;
    z-index: 0;
    left: -180px;
    top: 900px;
    z-index: 800;
    filter: blur(3px);
}

.transitionFlowers-right {
    position: absolute;
    z-index: 0;
    right: -80px;
    top: 1300px;
    z-index: 800;
    filter: blur(4px);
}

.-cerimonia .floating-photos {
    height: 90vw;
    width: 100vw;
    position: relative;
    display: flex;
}

.-cerimonia .floating-photo {
    position: absolute;
}

.-cerimonia .floating-photo.-first {
    z-index: 2;
    border-radius: 9px;
    width: 320px;
    aspect-ratio: 7/10;
    top: 120px;
    left: 110px;
    transition: transform 0.4s ease-out;
    background-image: url(../../assets/img/35-DSC_8426.jpg);
    background-size: 143%;
    background-repeat: no-repeat;
    background-position: -39px -9px;
}

.-cerimonia .floating-photo.-second {
    background-image: url(../../assets/img/41-DSC_8626.jpg);
    background-size: 177%;
    background-position: center;
    border-radius: 9px;
    width: 370px;
    aspect-ratio: 9 / 11;
    bottom: 42px;
    right: 107px;
    transition: transform 0.4s ease-out;
    filter: brightness(140%);
}

.-cerimonia .floating-photo.-secondMobile {
    background-image: url(../../assets/img/41-DSC_8626.jpg);
    background-size: 177%;
    background-position: center;
    border-radius: 9px;
    width: 370px;
    aspect-ratio: 9 / 11;
    bottom: 42px;
    right: 107px;
    transition: transform 0.4s ease-out;
    filter: brightness(140%);
}

.-cerimonia .floating-photo.-third {
    background-image: url(../../assets/img/45-DSC_8681.jpg);
    background-size: 190%;
    background-position: -416px -625px;
    filter: brightness(1.25);
    border-radius: 9px;
    width: 670px;
    aspect-ratio: 17 / 10;
    bottom: -40px;
    left: 468px;
    transition: transform 0.4s ease-out;
}

.-cerimonia .main-text .main-button.-adress {
    color: white;
    background-color: #93bcf7;
    border-radius: 50px;
    padding: 0 35px;
    font-size: 20px;
    margin-top: 30px;
}