/*BANNER*/

.carousel {
  overflow: hidden;
  margin-top: 80px;
  width: 95vw;
}

.carousel .track {
  display: flex;
  gap: 7vw;
  flex-wrap: nowrap;
  /* Impede que os itens quebrem para uma nova linha */
  transition: transform 0.5s ease-in-out;
  margin-bottom: 50px;
}

.carousel .service-card {
  flex: 0 0 auto;
  /* Garante que cada card mantenha seu tamanho */
  width: 80vw;
  /* Ajuste conforme o tamanho desejado */
}

.carousel .service-card.-1 {
  background-image: url(../../assets/img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px 0;
}
